---
Language: Cpp
BasedOnStyle: LLVM

# --- Indentation & Width ---
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true
ColumnLimit: 120

# --- Line Breaking ---
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# --- Brace Wrapping ---
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# --- Alignment ---
AlignOperands: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignAfterOpenBracket: Align

# --- Short Constructs ---
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false

# --- Spaces ---
SpacesInAngles: false
SpacesInParentheses: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false

# --- Includes ---
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeCategories:
  - Regex: '^<.*\.h>'      # C system headers
    Priority: 1
  - Regex: '^<.*>'         # C++ standard library
    Priority: 2
  - Regex: '^<.*\.hpp>'    # Third-party libraries
    Priority: 3
  - Regex: '^".*"'         # Project headers
    Priority: 4
SortIncludes: CaseSensitive
IncludeBlocks: Regroup

# --- Macros ---
MacroBlockBegin: ''
MacroBlockEnd: ''

# --- Newlines ---
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2

# C++11/14/17/20 specific
Cpp11BracedListStyle: true
FixNamespaceComments: true
SortUsingDeclarations: true

# Pointer alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Short constructs
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
...
